@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);

    &_profile {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin: auto;
      background-color: rgb(127, 127, 255);
      border-radius: 25px;
    }

    &_picture {
      border: 0.5rem solid black;
      border-radius: 100%;
      margin: 3rem;
      animation: slideInFromRight 1s ease-out;
    }

    &_description {
      background-color: rgb(148, 148, 246);
      border-radius: 15px;
      animation: slideInFromLeft 1s ease-out;
    }

    &_welcome {
      font-family: 'Lobster', cursive;
      font-size: larger;
      background-color: black;
      color: white;
      padding: 1rem;
      width: 25%;
    }

    &_title {
      font-size: 4rem;
      margin: 0 1.5rem;
    }

    &_animatedtxt {
      margin: 0 1.5rem 3rem 1.5rem;
      font-size: 3rem;
      font-style: bold;
    }

    &_txt {
      margin: 1.5rem;
      font-size: 1.5rem;
      max-width: 950px;
    }

    &_links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 2rem;

      &_socials {
        display: flex;
        flex-direction: row;

        &_icon {
          color: black;
          margin: 0 1rem;
          min-height: 40px;
          min-width: 40px;
          
          &:hover {
            color: rgb(255, 255, 255);
          }
        }               
      }
    }

    @keyframes slideInFromLeft {
      0% {
        transform: translateX(-100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
    
    @keyframes slideInFromRight {
      0% {
        transform: translateX(100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
  }
}