.navbar {
  display: flex;
  flex-direction: row;

  &_links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &_links li {
    padding: 1rem 1rem;
    border-bottom: 1px solid #ddd;
  }

  .navbar_links li.active a {
    font-weight: bold;
  }  

  &_links a {
    color: black;
    font-size: x-large;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  &_links a:hover {
    cursor: pointer;
    color: gray;
  }

  .navbar_links a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: gray;
    transition: width 0.2s ease-in-out;
  }
  
  .navbar_links a:hover::after {
    width: 100%;
  }
  
  .navbar_links .active a::after {
    width: 100%;
  }
}

.navbar_menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar_menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1;
  }

  .navbar_menu-icon__line {
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #000;
    transition: transform 0.2s ease-in-out;
  }

  .navbar_menu-icon__line.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .navbar_menu-icon__line.open:nth-child(2) {
    opacity: 0;
  }

  .navbar_menu-icon__line.open:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }

  .navbar_links {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: lightgrey;
    transition: max-height 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .navbar_links li:not(:last-child) {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
  }  
  
  .navbar_links.open {
    max-height: 500px;
  }  

  .navbar_links li {
    display: block;
    margin: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
}