.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;

  &_maintitle {
    text-decoration: underline;
    border: 0.5rem solid black;
    background-color: rgb(127, 127, 255);
    border-radius: 40px;
    padding: 1rem;
    width: 100%;
    text-align: center;
  }

  &_title {
    text-decoration: underline;
    border: 0.5rem solid black;
    background-color: rgb(127, 127, 255);
    border-radius: 40px;
    padding: 1rem;
    text-align: center;
  }

  &_cards {
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
    max-width: 1300px;
  }

  &_img {
    max-width: 750px;
    margin: 0;
    border-radius: 25px;
  }

  &_kasa {
    display: flex;
    flex-direction: column;
  }

  &_description-kasa {
    display: flex;
    flex-direction: row;
    border: 0.5rem solid black;
    border-radius: 40px;
  }

  &_description-ohmyfood {
    display: flex;
    flex-direction: row-reverse;
    border: 0.5rem solid black;
    border-radius: 40px;
  }

  &_preview {
    display: flex;
    align-items: center;
  }
  
  &_languages-container {
    position: absolute;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  
  &_languages {
    color: #000;
  }
  
  &_details {
    margin: auto;
    text-align: center;
  }

  &_button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
  }















  &_cards2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: 3rem 5%;
  }
  
  &_card-img {
    height: 50%;
    width: 100%;
    border-radius: 20px;
  }

  &_description {
    text-align: center;
  }

  .project_3 {
    display: flex;
    flex-direction: column;
    border: 0.3rem solid black;
    border-radius: 20px;
  }

  .project_4 {
    display: flex;
    flex-direction: column;
    border: 0.3rem solid black;
    border-radius: 25px;
  }

  .project_5 {
    display: flex;
    flex-direction: column;
    border: 0.3rem solid black;
    border-radius: 20px;
  }
}
