.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;

  &_title {
    text-decoration: underline;
    color: white;
    background-color: black;
    padding: 1rem;
    width: 100%;
    text-align: center;
  }

  &_cards {
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
    max-width: 1300px;
  }

  &_kasa {
    display: flex;
    flex-direction: column;
  }

  &_description {
    display: flex;
    flex-direction: row;
  }

  &_preview {
    display: flex;
    align-items: center;
  }
  
  &_languages-container {
    position: absolute;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  
  &_languages {
    color: #000;
  }
  
  &_details {
    margin: 1rem;
  }

















  &_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem;
  }

  .project_0 {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(127, 127, 255);
    border-radius: 20px;
  }

  .project_1 {
    display: flex;
    background-color: rgb(127, 127, 255);
    border-radius: 20px;
  }

  .project_2 {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(127, 127, 255);
    border-radius: 20px;
  }

  .project_3 {
    display: flex;
    background-color: rgb(127, 127, 255);
    border-radius: 20px;
  }

  .project_4 {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(127, 127, 255);
    border-radius: 20px;
  }

  .project_5 {
    display: flex;
    background-color: rgb(127, 127, 255);
    border-radius: 20px;
  }

  &_img {
    max-width: 750px;
    margin: 0;
    border-radius: 25px;
  }

  &_button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    padding: 1rem;
  }
}
