.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    font-size: 1.2rem;
  }

  .footer_links {
    margin: 1rem;
    padding-right: 1rem;
  }
  
  .footer_links a {
    margin-right: 1rem;
    color: #000;
  }
  
  .footer_links a:hover {
    color: #0077b5;
  }
  
  .footer_links a:last-child {
    margin-right: 0;
  }
  
  .footer_copyright {
    color: #6c757d;
  }  